{% extends 'base.html.twig' %}

{% block title %}¤ First Symfony ~ Créer un utilisateur ¤{% endblock %}

{% block body %}
    {{ include('header/header.html.twig') }}

    <h1>Créer un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">Retour</a>
    {{ include('footer/footer.html.twig') }}

{% endblock %}
