{% extends 'base.html.twig' %}

{% block title %}¤ First Symfony ~ A propos ¤{% endblock %}

{% block body %}

    {{ include('header/header.html.twig') }}
<div class="name">
    <br />
    <p class="logo-1">Roman CLAVIER</p>
    <p class="logo-1">Florent DEBUCHY</p>
    <p class="logo-1">Francesco HARTEMANN</p>
    <p class="logo-1">Emerick CHALET</p>
</div>
    {{ include('footer/footer.html.twig') }}
{% endblock %}