{% extends 'base.html.twig' %}

{% block title %}¤ First Symfony ¤{% endblock %}

{% block body %}
    {{ include('header/header.html.twig') }}
    <br />
    <div style="margin-top: 5%">
        <p style="font-size: 50px;" class="sunset">Pour gérer vos projets GitLab</p>
        <img  style="height: 200px; width: auto;" alt="logo" src="{{ asset('assets/logo.png') }}" class="logo">
        <p style="font-size: 50px;" class="sunset">ainsi que vos Merge Requests</p>
    </div>
    {{ include('footer/footer.html.twig') }}
{% endblock %}
